:root {
	--canvas: #FFFFFF;
	--back: #CBD5DF;
	--form: #E2E8F0;
	--ctrl: #F7FAFB;

	--accent: #38B2AC;
	--primary: #2D3848;
	--secondary: #718096;
}

:root.dark {
	--canvas: #22272e;
	--back: #1A202C;
	--form: #2D3848;
	--ctrl: #3A4556;

	--accent: #81E5D9;
	--primary: #FEFEFE;
	--secondary: #CBD5DF;
}
